
.profile-main-info .profile-pic img{
  height: 200px;
  width: auto;
  border-radius: 5px;
}

.profile .profile-main-info .stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile-main-info .profile-name a{
  text-decoration: none;
  color: black;
}

.profile-main-info .profile-name a:hover{
  color: aquamarine;
}

.profile .profile-main-info .profile-username{
  font-size: smaller;
  color: gray;
}

.profile-main-info .stats .follow{
  display: flex;
  flex-direction: center;
  gap: 4px;
}
.profile-main-info .stats {
  margin-top: 5px;
  font-weight: normal;
  font-size: x-small;
}

.profile .profile-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.profile{
  display: flex;
  flex-direction: row;
}

.profile .repositories{
  width: 100%;  
}

.repositories .repos .repos-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
  background-color: #E9ECEF;
  padding: 8px;
}

.repos-header #repoid{
  padding-left: 30%;
  font-size: small;
  font-weight: lighter;
}

.repos-header #repocount{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  font-weight: lighter; 
  background-color: rgb(209, 231, 250);
  border-radius: 10px;
}

.repos .repos-body ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 80%;
  margin-left: 0px;
  margin-right: 0px;

}
.repos-body li{
  width: 100%;

}

.li-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.li-inner .li-header a{
  text-decoration: none;
  color: black;
}

.li-inner .li-header a:hover{
  color: aqua;
  cursor: pointer;
}

.li-inner .li-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  font-size: smaller;
}

.li-inner .li-body .far,.fas{
  color: gray;
}
.specs .far,.fas{
  color: gray;
}

.li-body .stars,.forks,.watch{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
li .li-follower{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: xx-small;
}


.profile-username a:hover{
  text-decoration: none;
  color:aqua;
}
.profile-username a{
  text-decoration: none;
  color: gray;
}
.specs{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-small;

}
.li-follower .avatar img{
  border-radius: 20px;
}

li .li-follower{
margin-top: 5px;
}

li a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

li a:hover{
  text-decoration: none;
  color: aquamarine;
}
.follow-body li{
  list-style: none;
  text-align: center;
}

.profile .follow-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.repositories .repos .repos-header{
  margin-left: 8px;
}

.follow-container .follow-header{
  margin-top: 5px;
  margin-bottom: 5px;
}

.follow-body ul{
  margin-top: 0px;
  padding-top: 0px;
}